@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 248 44% 24%;
    --foreground: 0 0% 100%;

    --card: 252 24% 34%;
    --card-foreground: 0 0% 100%;
 
    --popover: 248 44% 24%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 252 24% 34%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 12 67% 85%;
    --secondary-foreground: 248 44% 24%;
 
    --muted: 240 19% 77%;
    --muted-foreground: 248 44% 24%;
 
    --accent: 9 72% 77%;
    --accent-foreground: 248 44% 24%;
 
    --destructive: 9 72% 77%;
    --destructive-foreground: 248 44% 24%;

    --border: 252 24% 34%;
    --input: 252 24% 34%;
    --ring: 252 24% 34%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-gold {
  @apply text-secondary;
}

.bg-gold {
  @apply bg-secondary;
}

.border-gold {
  @apply border-secondary;
}

.hover\:bg-gold:hover {
  @apply hover:bg-secondary;
}

.hover\:text-gold:hover {
  @apply hover:text-secondary;
}